<ion-modal-view>
	<ion-header-bar class='bar-royal'>
	  <h1 class="title">評論</h1>
	  <div class="buttons">
	      <button class="button button-clear" ng-click="closeComment()">Close</button>
	  </div>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<div ng-repeat='speaker in speaker_assoc track by $index'>
				<div class='item item-divider'>
				{{speaker}}
				</div>
			  <label class="item item-input item-stacked-label" ng-click='rateClicked($index)'>
			    <button class="button button-clear button-positive" >評分</button>
			    <br>
			    <b ng-bind='rating_displayed[comment.rating[$index]-1]'></b>
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">評語</span>
			    <textarea type="text" placeholder="評語" ng-model='comment.comment[$index]' rows='5'></textarea>
			  </label>
		  </div>

		  <button class='button button-block button-balanced' ng-click='submitComment()' ng-if='isLoggedIn!=false'> 提交 </button>
		</div>
	</ion-content>
</ion-modal-view>