<ion-view view-title="Candidate {{candidate_displayed[candidate]}} ">
	<ion-nav-buttons side='right'>
<!-- 		<button class='button button-clear' ng-click='refresh()'><i class='fa fa-refresh'></i> 刷新</button>
 -->	</ion-nav-buttons>

  <ion-content>
  <ion-refresher pulling-text='向下滑動以刷新' on-refresh='refresh()'></ion-refresher>

	<div class='list card' ng-repeat='comment in question.comment_assoc track by $index'>
		<div class='item item-avatar' >
		<img src='resources/img/user.png'>
		<h2> 評論者: {{comment.user}}</h2>
		<p> Experienced school teacher.</p>
		<span class='badge badge-assertive'> 评分: {{rating_displayed[question.rating_assoc[$index].rating[candidate]-1]}}</span>
		</div>

		<div class='item item-body'>
		<span class='line-break'>{{comment.comment[candidate]}}</span>
		
		</div>
  </ion-content>
</ion-view>

