<ion-view view-title="{{year}} ">
	<ion-nav-buttons side='right'>
		<button class='button button-clear button-positive' ng-click='refresh()'><i class='fa fa-refresh'></i> 刷新</button>
	</ion-nav-buttons>
  <ion-content>
    <ul class='list'>

    	<a class='item' ng-repeat="question in questions" href='#/app/browse/{{year}}/{{question.id}}'>

        {{question.question}}
        <span class='badge'> {{question.rating_count}} 評分 {{question.comment_count}} 評語</span>

        </a>

    </ul>
  </ion-content>
</ion-view>

