<ion-view view-title="瀏覽">
  <ion-content>
    <ul class='list'>
    	<div class='item-divider'>年份和題目數量</div>
        <div class='item-divider'>小組討論</div>

        <a class='item icon-left' ng-repeat='(key,value) in groupCount' href='#/app/browse/{{key}}/1'>
        <i class="icon ion-person-stalker"></i>
        {{key}}
        <span class='badge badge-assertive'>{{value}}</span>
        </a>

        <div class='item-divider'>個人討論</div>
        <a class='item icon-left' ng-repeat='(key,value) in individualCount' href='#/app/browse/{{key}}/0'>
        <i class="icon ion-person"></i>
        {{key}}
        <span class='badge badge-assertive'>{{value}}</span>
        </a>

    </ul>
  </ion-content>
</ion-view>

