<ion-view view-title="{{question.question}} -- {{year}} ">
	<ion-nav-buttons side='right'>
		<button class='button button-clear' ng-click='refresh()'><i class='fa fa-refresh'></i> 刷新</button>
	</ion-nav-buttons>

  <ion-content > 
  <ion-refresher pulling-text='向下滑動以刷新' on-refresh='refresh()'></ion-refresher>
    <div class="video-container">
		<iframe sandbox='allow-same-origin allow-scripts' src="{{trustSrc(question.youtube_link)}} " frameborder="0" allowfullscreen></iframe>		
	</div>
	<div>
	<p> Recording date:</p>
	<p> {{question.answer_date}}</p>
	<hr>
	</div>
	<button class='button button-block button-royal' ng-click='download()'> 下載音頻和字幕 </button>

	<button class='button button-block button-assertive' ng-click='commentShow()'> 評論 </button>

	<div class='list'>
		<a class='item item-avatar' href='#/app/browse/{{year}}/{{category}}/{{questionID}}/0'>
			<img src='resources/img/A.png'>
			<h2>Candidate A</h2>
			<p> {{question.profile_assoc[0]}}</p>
			<span class='badge badge-assertive'>{{rate[0]}}</span>
		</a>
		<a class='item item-avatar' href='#/app/browse/{{year}}/{{category}}/{{questionID}}/1'>
			<img src='resources/img/B.png'>
			<h2>Candidate B</h2>
			<p> {{question.profile_assoc[1]}}</p>
			<span class='badge badge-assertive'>{{rate[1]}}</span>
		</a>
		<a class='item item-avatar' href='#/app/browse/{{year}}/{{category}}/{{questionID}}/2'>
			<img src='resources/img/C.png'>
			<h2>Candidate C</h2>
			<p> {{question.profile_assoc[2]}}</p>
			<span class='badge badge-assertive'>{{rate[2]}}</span>
		</a>
		<a class='item item-avatar' href='#/app/browse/{{year}}/{{category}}/{{questionID}}/3'>
			<img src='resources/img/D.png'>
			<h2>Candidate D</h2>
			<p> {{question.profile_assoc[3]}}</p>
			<span class='badge badge-assertive'>{{rate[3]}}</span>
		</a>

	</div>

	<div class='card'>
		<div class='item item-divider'>
		<h2> Transcript</h2>
		</div>
		<!-- <div class="item" style='height:{{iframe_height}}; overflow:auto;-webkit-overflow-scrolling:touch'>
		<iframe src='{{trustSrc(html_url)}}' id='iframe' >
		</iframe>
		</div> -->
		<div ng-bind-html='transcript_html'></div>
	</div>

	
  </ion-content>
</ion-view>

