<ion-view view-title="<i class='fa fa-home'></i> 主頁">

	<ion-nav-buttons side='right'>

    </ion-nav-buttons>

    <ion-content class='background large-font'>
    <div class='row'>
        <div class='col col-50'>
        <button class='home_button' ui-sref='app.browse2'>
          <i class="fa fa-user fa-fw fa-5x"></i><br> <p>個人回應</p>
        </button>
        </div>

        <div class='col col-50'>
        <button class='home_button' ui-sref='app.browse'>
          <i class="fa fa-users fa-fw fa-5x"></i><br> <p>小組討論</p>
        </button>
        </div>
    </div>

    <div class='row'>
        <div class='col col-50'>
        <button class='home_button' ui-sref='app.downloadBrowse'>
          <i class="fa fa-fw fa-download fa-5x"></i><br> <p>已下載</p>
        </button>
        </div>

        <div class='col col-50'>
        <button class='home_button' ui-sref='app.player'>
          <i class='fa fa-play-circle fa-fw fa-5x'></i><br> <p>播放中</p>
        </button>
        </div>
    </div>

    </ion-content>
</ion-view>