<ion-view view-title=" <i class='fa fa-play-circle'></i> {{name || '--'}}">
    <ion-nav-buttons side='right'>
        <!-- <button class="button button-clear" ng-click="hidePlayer()"><i class='fa fa-times'></i></button> -->
        <button class="button button-clear" ng-click="open_transcript(transcript_path)"><i class='fa fa-external-link'></i> PDF</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list card">
            <div class="item">
                <h2><i class="fa fa-file-pdf-o"></i> 字幕</h2>
            </div>
            <div class="item item-body">
                <div ng-bind-html="transcript_html"></div>
            </div>
        </div>
    </ion-content>
    <div class='player_footer'>
        <div class="item item-body">
            <div ng-hide="loaded">
                <label>請選擇音頻</label>
            </div>
            <div ng-show="loaded" style="height: 30px; width: {{position}}%; transition: width 0.2s; background: #e42012;">
            </div>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="javascript:" ng-click="resumeAudio()" >
                <i class="icon ion-ios-play"></i> 播放
            </a>
            <a class="tab-item" href="javascript:" ng-click="pauseAudio()" >
                <i class="icon ion-pause"></i> 暫停
            </a>
            <a class="tab-item" href="javascript:" ng-click="stopAudio()" >
                <i class="icon ion-stop"></i> 結束
            </a>
        </div>
    </div>
</ion-view>
